* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  width: 100%;
  height: 100%;
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-direction: column;
  /* opacity: 0.1; */
}

main .ctn {
  width: 75%;
  height: 50%;
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  /* opacity: 1; */
}

main .ctn .img {
  width: 50%;
  height: 100%;
  background-color: gold;
  border-radius: 50%;
  background-image: url('./images/chennai.jpg');
  background-size: cover;
  background-position: center;
}

main .ctn .text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

main .ctn .text ul li {
  list-style: none;
  font-size: 1.2rem;
  line-height: 2em;
}

main button {
  padding: 1em 2em;
  font-size: 25px;
  font-weight: 600;
  background: linear-gradient(to right, yellow, white);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  color: #222;
}

main button:active {
  transform: scale(0.95);
}
